body {
  background: #333;
  padding-bottom: 200px;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Arial";
  font-style: normal;
  padding: 50px;
}

.page {
  width: 1200px;
  height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px;
  margin-bottom: 50px;
  overflow: hidden;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

h1, h2, h3, h4 {
  margin-bottom: 2rem;
  display: block;
  width: 100%;
  font-family: "Comfortaa";
}

h1 {
  font-size: 100px;
}

.subheading {
  font-size: 42px;
  color: #3F2B96;
  background: linear-gradient(160deg, #A8C0FF 0%, #3F2B96 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  padding-top: 6px; /* HACK fix print */
}

h2 {
  font-size: 70px;
  letter-spacing: 3px;
  margin-bottom: 6rem;
}

h3 {
  font-size: 50px;
  letter-spacing: 2px;
}

h4 {
  font-size: 30px;
}

p {
  font-size: 26px;
  line-height: 2rem;
  text-align: justify;
  margin-bottom: 2rem;
}

ul {
  padding-left: 4rem;
}

ul li {
  font-size: 28px;
  margin-bottom: 1rem;
  list-style: disc;
}

img, video {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

img.w-80, vide.w-80 {
  max-width: 80%;
}

img.w-40, video.w-40 {
  max-width: 40%;
}

.grow {
  flex-grow: 2;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.btn-source {
  color: white;
  padding: 8px 16px;
  border-radius: 40px;
  font-size: 20px;
  display: inline-block;
  width: 300px;
  text-decoration: none;
  text-align: center;
  background: linear-gradient(90deg, #A8C0FF 0%, #3F2B96 100%);
}

.example {
  background: white;
  margin: -20px -100px -200px -100px;
  padding: 20px 100px 200px 100px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.example-bar {
  background: white;
  margin: 0px -100px 20px -100px;
  padding: 20px 100px 20px 100px;
}

.example .example-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.show-video-print-image video {
  display: block;
}

.show-video-print-image img {
  display: none;
}

.parameterization-videos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.parameterization-videos video {
  width: 33.33%;
  flex-grow: 1;
  margin: 5px;
}

@media only screen and (max-width: 800px) {
  .book {
    padding: 0;
  }
}

@media print {

  .book {
    padding: 0;
  }

  .page {
    margin: 0;
    margin-top: 25px;
    page-break-after: always;
  }

  .show-video-print-image video {
    display: none;
  }

  .show-video-print-image img {
    display: block;
  }

  @page {
    display: flex;
    flex-direction: column;
  }
}
