.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0 3rem 0;

  .contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1500px;

    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    .contact-row {
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      justify-content: space-between;

      dl {
        display: grid;
        grid-template-columns: max-content auto;

        dt {
          grid-column-start: 1;
          padding: 1rem 1rem 1rem 0;
          text-align: right;
        }

        dd {
          grid-column-start: 2;
          padding: 1rem 0 1rem 1rem;
          font-style: italic;
        }
      }

      .last-words {
        .message-container {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          padding: 0.5rem;

          .message {
            padding: 0.5rem;
          }

          i {
            font-style: italic;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .contact-container {
    .contact {
      .contact-row {
        flex-direction: column;

        .last-words {
          align-self: flex-end;
        }
      }
    }
  }
}
