.contact {
  width: 100%;
  max-width: 900px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 3rem;
  display: grid;
  grid-template-rows: max-content max-content max-content;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  h2 {
    grid-area: 1 / 1 / 2 / 3;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .contact-list {
    grid-area: 2 / 1 / 3 / 2;

    dl {
      display: grid;
      grid-template-columns: max-content auto;

      dt {
        grid-column-start: 1;
        padding: 1rem 1rem 1rem 0;
        text-align: right;
      }

      dd {
        grid-column-start: 2;
        padding: 1rem 0 1rem 1rem;
        font-style: italic;
      }
    }
  }

  .last-words {
    grid-area: 2 / 2 / 3 / 3;
    padding: 0;
    
    .sequence {
      .sequence-messages {
        width: 100%;
        .message-container {
          i {
            font-style: italic;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .contact {
    .last-words {
      grid-area: 2 / 1 / 3 / 3;
    }
    .contact-list {
      grid-area: 3 / 1 / 4 / 3;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
